In [5]:
import os
from glob import glob

import dask
import dask.bag as db
import dask.dataframe as dd
from distributed import Client
from dask_jobqueue import SLURMCluster

from IPython.display import display

import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
import os 
from subprocess import PIPE, Popen

In [7]:
# Set LOCAL to True for single-machine execution while developing
# Set LOCAL to False for cluster execution
LOCAL =True
# LOCAL = False

if LOCAL:
    # This line creates a single-machine dask client
    client = Client()
else:    
    # This line creates a SLURM cluster dask and dask client
    # Logging outputs will be stored in /scratch/{your-netid}
    
    cluster = SLURMCluster(memory='4GB', cores=1, python='/scratch/work/public/dask/bin/python', 
                               local_directory='/tmp/{}/'.format(os.environ['SLURM_JOB_USER']),
                               job_extra=['--output=/scratch/{}/slurm-%j.out'.format(os.environ['SLURM_JOB_USER'])])

    cluster.submit_command = 'slurm'
    cluster.scale(100)

    display(cluster)
    client = Client(cluster)

display(client)

In [8]:
# ratings = dd.read_csv("/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/ratings.csv")
# ratings = dd.read_csv("/scratch/work/courses/DSGA1004-2021/movielens/ml-latest/ratings.csv")
# mov = dd.read_csv("/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small/movies.csv")
# ratings = pd.DataFrame(ratings.compute())
# mov = pd.DataFrame(mov.compute())

In [9]:
# mov
ratings = pd.read_csv('/scratch/work/courses/DSGA1004-2021/movielens/ml-latest/ratings.csv')

In [10]:
# ratings = ratings.merge(mov, how = 'right', on = "movieId")
ratings

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

In [11]:

user = pd.DataFrame(ratings.userId.unique())
train_user, testval_user = train_test_split(user, test_size=0.4)


movie = pd.DataFrame(ratings.movieId.unique())
temp1_movie, temp2_movie = train_test_split(movie, test_size = 0.7)
train_set = ratings[ratings['userId'].isin(list(train_user[0]))]
testval_set = ratings[ratings['userId'].isin(list(testval_user[0]))]
train_sending = testval_set[testval_set['movieId'].isin(list(temp1_movie[0]))]
testval_cluster =testval_set[testval_set['movieId'].isin(list(temp2_movie[0]))]

temp = pd.DataFrame(testval_set.userId.unique())
val_user, test_user = train_test_split(temp, test_size = 0.5)
val_set = testval_cluster[testval_cluster['userId'].isin(list(val_user[0]))]
test_set = testval_cluster[testval_cluster['userId'].isin(list(test_user[0]))]

In [12]:
val_set

          userId  movieId  rating   timestamp
779            5       50     5.0  1209039937
780            5      293     3.5  1209040005
782            5      318     5.0  1209040104
783            5      527     4.5  1209126022
784            5      728     3.0  1209039379
...          ...      ...     ...         ...
27752811  283219   103228     4.5  1467479955
27752815  283219   109487     3.5  1467480117
27752817  283219   115210     5.0  1467480135
27752819  283219   119145     5.0  1467480150
27752822  283219   122904     4.5  1467480113

[3878568 rows x 4 columns]

In [13]:
test_set

          userId  movieId  rating   timestamp
17             2      849     3.5  1192913537
18             2     1186     3.5  1192913611
19             2     1235     3.0  1192913585
20             2     1244     3.0  1192913551
21             2     1296     4.5  1192913608
...          ...      ...     ...         ...
27752874  283221     6539     3.5  1168346437
27752875  283221    30749     4.5  1168346921
27752876  283221    46965     4.0  1168358187
27752877  283221    48516     4.0  1168346903
27752878  283221    49651     4.0  1168346806

[3934073 rows x 4 columns]

In [14]:
testval_set

          userId  movieId  rating   timestamp
16             2      170     3.5  1192913581
17             2      849     3.5  1192913537
18             2     1186     3.5  1192913611
19             2     1235     3.0  1192913585
20             2     1244     3.0  1192913551
...          ...      ...     ...         ...
27752874  283221     6539     3.5  1168346437
27752875  283221    30749     4.5  1168346921
27752876  283221    46965     4.0  1168358187
27752877  283221    48516     4.0  1168346903
27752878  283221    49651     4.0  1168346806

[11062093 rows x 4 columns]

In [15]:
# concatenate back to train set
final_train = train_set.append(train_sending)
# ran into concat kernel dead error
# convert it back to dask dataframe
# train_set=  dd.from_pandas(train_set, chunksize = 100000)
# train_sending = dd.from_pandas(train_sending, chunksize= 100000)

In [16]:
# final_train = dd.concat([train_set, train_sending], axis=0)

In [17]:
final_train

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27752858  283221     2161     3.5  1168346541
27752859  283221     2329     4.0  1168346910
27752868  283221     4011     3.5  1168346913
27752869  283221     4246     2.0  1168346523
27752873  283221     5995     4.5  1168346995

[19940803 rows x 4 columns]

In [18]:
# train_small_data = final_train
# val_small_data = val_set
# test_small_data = test_set
# train_large_data = final_train
# val_large_data = val_set
# test_large_data = test_set

In [31]:
# train_small_data.to_csv("train_small_data.csv")
# val_small_data.to_csv("val_small_data.csv")
# test_small_data.to_csv("test_small_data.csv")
final_train.to_csv(r'C:\Users\ryanjang123\Desktop\train_large_data.csv')
# val_large_data.to_csv("val_large_data.csv")
# test_large_data.to_csv("test_large_data.csv")

In [11]:
final_train.to_parquet("train_large_data.parquet")

In [ ]:
val_set.to_parquet("val_large_data.parquet")

In [ ]:
test_set.to_parquet("test_large_data.parquet")